* {
  background-color: black;
  margin: 0;
  box-sizing: border-box;
}

.block,
.block2,
p {
  border: 1px solid #e75551;
}

.block {
  width: 350px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

p,
.block2 {
  margin: 10px;
}

.block2 {
  background-color: #ffa500;
}

p {
  padding: 10px;
  background-color: #ddd;
}
